@import '../../assets/variable.scss';

.header {
  background: $rule-light;
  height: 50px;
  flex-direction: column;
  justify-content: center;
  display: flex;

  .nav {

    &-list {
      display: flex;
      list-style-type: none;
      height: 100%;

      li {
        padding: 2px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $primary;
        border-radius: 5px;
        margin: 0 5px;

        &:hover {
          // background-color: #222222
        }
      }
      a {
        font-size: 16px;
        color: $primary;
        text-transform: capitalize;
        text-decoration: none;
      }
    }
  }
}